rules_version = '2';
service cloud.firestore {
  
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth.token.email == 'marrci448@gmail.com' || request.auth.token.email == 'ohshif5@gmail.com';
    }
    
    match /users/{userId} {
      // An admin can read or update their own profile, or an admin can.
      allow read, update: if request.auth.uid == userId || isAdmin();
      // A user can create their own document when they sign up.
      // The `request.auth.uid` must match the `userId` in the path.
      allow create: if request.auth.uid == userId;
      // An admin can list all users.
      allow list: if isAdmin();
    }
    
    match /users/{userId}/orders/{orderId} {
      allow read, create: if request.auth.uid == userId;
      // Allow admin to update any order
      allow update: if isAdmin();
    }
    
    match /topUpRequests/{requestId} {
      allow create: if request.auth.uid != null;
      // For individual reads, the user or an admin can read.
      allow get: if request.auth.uid == resource.data.userId || isAdmin();
      // For listing all requests, only an admin can do it.
      allow list: if isAdmin();
      allow update: if isAdmin();
    }

    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /announcements/{announcementId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Allow admins to list documents from collection groups
    // This also helps Firebase auto-generate the required index for the collection group query.
    match /{path=**}/orders/{orderId} {
      allow get, list: if isAdmin();
    }
  }
}
